

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
h1 {
    padding-top: 20px;
    font-size: 45px;
    /*font-weight: bold; */
    font-family: 'Montserrat', sans-serif;
    
}

p {
    font-size: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
}


/* .montserrat {
font-family: 'Montserrat', sans-serif;
} */

.header {
    text-align: center;
    padding-top: 20px;
    width: 70%;
}
.header2 {
    padding-top:20px;
    text-align:center;
    padding:0;
}
.headers {
    font-size: 39px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    width:90%;
}

#changingText {
    color: #7CB9C5;
}


.homeBody {
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}