@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 30px;
    background-color : #FFFEFC;
}
.navbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;


}

 
a {
    text-decoration: none;
    color: black;
    border-bottom: 5px solid transparent 
    
    
}
.flex-item:hover {
    border-bottom: 5px solid green;
    transition: 0.10s;
}

.logo {
    width:50%;
    display: flex;
    float: left;
    font-weight: 700;
}
 .titletext {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
 }
 
 .title-item{
    font-size: 30px;
    color: #3A7352;

 }