
.App {
  text-align: center;
  height: 100%;
}

body {
  background-color: #F5F2EE;
  width: 100vw;
  height: auto;
}

.pages {
  height: '100vh';
  /* background-size: cover; */
  width: 100%;
  overflow:hidden;
}




.waves {
  width: 100vw;
}